body {
    background-color: var(--b-3);
    overflow-y: hidden;
}

/* ----------------
Header profile
---------------- */
#homeImg {
    display: none;
    position: absolute;
    top: 0;
    z-index: -99;
    opacity: 0.6;
}

header {
    z-index: -99;
    top: 0;
    position: fixed;
}

#topPage {
    height: 10px;
}

.profile {
    padding: 32px;
}

.profile > * {
    display: flex;
    align-items: center;
    color: var(--k5);
}

.nameandRole {
    margin-left: 16px;
}

.nameandRole p {
    color: var(--k4);
}

.photoProfile img {
    width: 106px;
    border-radius: 4px;
    border: 2px solid var(--b1);
}

.locationProfile {
    margin-top: 8px;
    display: flex;
}

.locationProfile> img {
    margin-right: 8px;
}



/* ----------------
Nav bar
---------------- */
a {
    transition: 600ms;
    padding: 8px;
    text-decoration: none;
    width: 32%;
    display: flex;
    justify-content: center;
    border-radius: 4px;
}

.clickedA {
    background: var(--b-1);
}

.clickedA p {
    color: white;
}

nav {
    margin-top: 164px;
    padding: 16px;
    background-color: var(--k6);
    border-radius: 16px 16px 0 0 ;
}

nav > .containerNav {
    padding: 4px 5px 5px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
}



/* ----------------
Container content
---------------- */
.contentContainer {
    overflow-x: hidden;
    width: 100vw;
}

#contentContainer > * {
    margin: 0 32px;
}

#contentContainer {
    transition: 600ms;
    background-color: var(--k6);
    display: flex;
    width: max-content;
    height: 100vh;
}


/* ----------------
Cards pessoal
---------------- */
.pessoalCards {
    width: calc(100vw - 64px);
}

.card {
    width: calc(100vw - 64px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    background: var(--b6);
    border-radius: 4px;
}

.card:nth-of-type(even) {
    margin: 16px 0;
}

.card h5 {
    color: var(--b-2);
    font-weight: 600;
}

.card p {
    margin-top: 4px;
    color: var(--b1);
}

.btnCard {
    padding: 16px;
}

.downloadInfo {
    width: calc(100% - 80px);
}

.downloadBtn {
    margin-top: 0;
    transform: rotate(90deg);
    height: 54px;
    width: 54px;
    align-items: center;
    justify-content: center;
}


input[type=text]:focus-visible {
    outline: none;
    border: 1px solid var(--k3);
}

