@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lexend Deca', sans-serif;
    background:  var(--b-5);
}


body {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
}


/* ----------------
Typography
---------------- */
h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

p {
    font-size: 12px;
    color: var(--k2);
}

h1, h2, h3, h4, h5, h6, p {
    font-weight: 500;
    line-height: 150%;
}



/* ----------------
Colors
---------------- */
:root {

    --alpha-modal : rgba(0, 0, 0, 0.4);

    /* GREY SCALE */
    --k-3: #070707;
    --k-2: #131313;
    --k-1: #202020;
    --k0: #2C2C2C;
    --k1: #4E4E4E;
    --k2: #707070;
    --k3: #929292;
    --k4: #D7D7D7;
    --k5: #F9F9F9;
    --k6: #FFF;

    /* RED SCALE */
    --b-5: #04080E;
    --b-4: #070E1A;
    --b-3: #0A1526;
    --b-2: #0E1B32;
    --b-1: #11223E;
    --b0: #14284A;
    --b1: #334563;
    --b2: #53627C;
    --b3: #727F95;
    --b4: #929CAE;
    --b5: #B2BAC6;
    --b6: #D3D7DE;
    --b7: #F3F4F6;

    --width-pad: calc(100vw - 64px)
}



/* ----------------
Header profile
---------------- */
#homeImg {
    display: none;
    position: absolute;
    top: 0;
    z-index: -99;
    opacity: 0.6;
}

.profile {
    padding: 32px;
}

.profile > * {
    display: flex;
    align-items: center;
    color: var(--k5);
}

.nameandRole {
    margin-left: 16px;
}

.nameandRole p {
    color: var(--k3);
}

.photoProfile img {
    width: 106px;
    border-radius: 4px;
    border: 2px solid var(--b1);
}



/* ----------------
Nav bar
---------------- */
nav {
    padding: 32px;
    background-color: var(--k6);
    border-radius: 16px 16px 0 0 ;
}

nav > .containerNav {
    padding: 4px 5px 5px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
}

.labelNav > input[type=radio]:checked ~ p {
    transition: 600ms;
    background: var(--b-3);
    color: var(--k6);
}

input[type=radio] {
    display: none;
}

.labelNav {
    width: 32%;
    text-align: center;
    font-size: 12px;
    line-height: 150%;
    border-radius: 4px;
    font-weight: 500;
    color: var(--k2);
}

.labelNav > p {
    padding: 8px;
    border-radius: 4px;
}



/* ----------------
Container content
---------------- */
.contentContainer {
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--k6);
    transform: translateY(-1px);
    /* opacity: 0; */
}

#contentContainer > * {
    margin: 0 32px;
}

#contentContainer {
    transition: 600ms;
    display: flex;
    width: max-content;
}


/* ----------------
Cards pessoal
---------------- */
.pessoalCards {
    width: calc(100vw - 64px);
}

.card {
    width: calc(100vw - 64px);
    display: flex;
    justify-content: space-between;
    padding: 24px;
    background: var(--b-1);
    border-radius: 4px;
}

.card:nth-of-type(1) {
    margin-bottom: 16px;
}

.card h5 {
    color: var(--k6);
}

.card p {
    margin-top: 4px;
    color: var(--b5);
}

.btnCard {
    height: min-content;
    border-radius: 8px;
    border: none;
    padding: 16px;
}

.red {
    overflow: hidden;
    position: relative;
    margin: 32px 0 0;
    background: var(--b-3);
}

.red > .infoCard {
    width: 70%;
}

.red > .infoCard > p {
    color: var(--b5);
}

.red img {
    position: absolute;
    right: 0;
    top: 0;
    height: 134px;
    mix-blend-mode: multiply;
}



/* ----------------
Cards empresa
---------------- */
.empresaCards {
    width: calc(100vw - 64px);
}



/* ----------------
Agenda container
---------------- */
.agendaContainer {
    /* display: none; */
    width: calc(100vw - 64px);
}

.introText > p {
    margin-top: 4px;
}




.calendar {
    margin-top: 32px;
}

.headerCalendar {
    display: flex;
    justify-content: space-between;
}

.headerCalendar > * {
    margin-top: 8px;
    display: flex;
}

.headerCalendar > * > h5 {
    margin-right: 8px;
}



.week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 16px;
}

.week > * {
    color: var(--b3);

    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--width-pad) / 7);
    height: 32px;
}



.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 8px;
}

.days > label {
    display: flex;
    justify-content: center;
    width: calc(var(--width-pad) / 7);
}

.days > label > p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    color: var(--k0);
}

.days > label > input[type=radio]:checked ~ p {
    transition: 600ms;
    background: var(--b0);
    color: var(--k6);
}



.notCurrentMonth > p {
    font-weight: 500!important;
    color: var(--k4)!important;
}



.hour {
    margin: 64px 0;
}

.descriptCard:nth-of-type(1) > p {
    margin-top: 8px;
}

.avaliableHour > label {
    display: flex;
    align-items: center;
    margin: 16px 0;
}

.hourCard {
    width: 100%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 32px;
    padding: 32px 0;
}

.notAvaliableCard {
    background: var(--b6);
}

.notAvaliableCard > p {
    color: var(--b2);
}

.avaliableCard {
    background-color: var(--b-1);
}

.avaliableCard > p {
    color: var(--k6);
}



.rangeHour {
    display: flex;
    justify-content: space-between;
}

.rangeHour > div {
    width: 45%;
}

.rangeCard {
    background: var(--k5);
    padding: 16px 32px;
    margin-top: 16px;
    border-radius: 8px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rangeCard > div > h4 {
    margin: 8px 22px;
    color: var(--b2);
}

.rangeCard > div > h4:nth-of-type(2) {
    font-weight: 700;
    color: var(--b-1);
}



.agendaForm {
    display: flex;
    flex-direction: column;
    margin: 64px 0;
}

.agendaForm > input[type=text] {
    background: var(--k5);
    width: 100%;
    margin-bottom:  16px;
    padding: 16px;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid var(--b5);
    border-radius: 4px;
}

input[type=text]:focus-visible {
    outline: none;
    border: 1px solid var(--k3);
}

.agendaForm > input[type=button] {
    margin-top: 32px;
    padding: 20px 0;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: var(--k6);
    background: var(--b-2);
    border-radius: 4px;
    border: none;
}