

form {
    padding: 64px 32px;
}

.formContainer {
    margin-bottom: 48px;
}

.titleContainer {
    font-weight: 700;
    color: var(--b0);
}

.titleLabel {
    color: var(--b1);
    transform: translate3d(5px, 11px, 0);
    padding: 0 4px;
    background-color: white;
    width: max-content;
    font-size: 14px;
}

.typeFile {
    text-align: center;
    display: flex;
    border: 1px solid var(--k3);
    width: 100%;
    margin-top: 16px;
    padding: 16px 0;
    justify-content: center;
    border-radius: 4px;
}

.typeFile h5 {
    color: var(--b2);
    margin: 0 32px;
    font-weight: 600;
    font-size: 14px;
}

input[type=file] {
    display: none;
}


input[type=text] {
    padding: 10px 16px;
    width: 100%;
    border-radius: 2px;
    border: 1px solid var(--b4);
}

textarea {
    font-family: 'Montserrat', sans-serif;
    line-height: 150%;
    resize: none;
    padding: 16px 16px;
    width: 100%;
    border-radius: 2px;
    border: 1px solid var(--b4);
}

input:focus-visible {
    outline: none;
}

textarea:focus-visible {
    outline: none;
}

.sendBtn {
    width: 100%;
    margin-top: 48px;
}